<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>APLI-PANNES</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
  </head>

<body class="body">
<center>
  <div class="logo"><img src={% static "image/logo.png" %} width="100" height="100" alt="LOGO"></div>
</center>
  <div class="divnav" >

    {% if  user.is_authenticated == False %}
    <li><a href="{% url 'login' %}">CONNECTION</a></li>
    {% endif %}

    {% if user.is_authenticated %}
    <li><a href="{% url 'home' %}">ATTENTE</a></li>
    <li><a href="{% url 'active' %}">FINI</a></li>
    <li><a href="{% url 'logout' %}">DECONNECTION</a></li>
    <a>{{ request.user.username }}</a>
    {% endif %}
</div>

   
{% block content %}
          
{% endblock %} 

    




    
    

</body>
</html>